In [1]:
def my_sq(x):
    return x ** 2

def my_exp(x,n):
    return x ** n

In [2]:
my_sq(3)

9

In [3]:
my_exp(3,3)

27

In [4]:
import pandas as pd

In [5]:
df = pd.DataFrame({'a':[10,20,30],'b':[40,50,60]})

In [6]:
df['a'].apply(my_sq)

0    100
1    400
2    900
Name: a, dtype: int64

In [7]:
df['a'].apply(my_exp,n=3)

0     1000
1     8000
2    27000
Name: a, dtype: int64

In [8]:
def print_me(x):
    print(x)

In [9]:
df.apply(print_me,axis=1)

a    10
b    40
Name: 0, dtype: int64
a    20
b    50
Name: 1, dtype: int64
a    30
b    60
Name: 2, dtype: int64

0    None
1    None
2    None
dtype: object

In [10]:
df.apply(my_exp,n=2,axis=1)

     a     b
0  100  1600
1  400  2500
2  900  3600

In [11]:
def data_sum(x):
    return sum(x)

In [12]:
df.apply(data_sum,axis=1)

0    50
1    70
2    90
dtype: int64

In [13]:
def data_sum(x):
    print(x[0])
    print(x[1])
    return x[0]*x[1]

In [14]:
df[['a','b']].apply(data_sum,axis=1)

10
40
20
50
30
60

0     400
1    1000
2    1800
dtype: int64