# 필요한 셀은 추가해서 작성하시면 됩니다.
###### https://github.com/vuski/admdongkor/tree/master/ver20230101/HangJeongDong_ver20230101.geojson 파일 다운로드 사용

In [1]:
import warnings
warnings.filterwarnings('ignore')

### 1. 202302_202302_주민등록인구및세대현황_월간.csv를 가지고 와서 'data'라는 이름의 데이터 프레임으로 작성하고 5개만 확인합니다.

In [2]:
import pandas as pd

In [3]:
data=pd.read_csv('202302_202302_주민등록인구및세대현황_월간.csv', encoding='cp949')


df = pd.DataFrame(data)

In [4]:
df.head(5)

,행정구역,2023년02월_총인구수,2023년02월_세대수,2023년02월_세대당 인구,2023년02월_남자 인구수,2023년02월_여자 인구수,2023년02월_남여 비율
0,서울특별시 (1100000000),"9,427,583","4,457,982",2.11,"4,567,957","4,859,626",0.94
1,서울특별시 종로구 (1111000000),"141,433","72,773",1.94,"68,399","73,034",0.94
2,서울특별시 종로구 청운효자동(1111051500),"11,605","5,130",2.26,"5,325","6,280",0.85
3,서울특별시 종로구 사직동(1111053000),"9,120","4,593",1.99,"4,060","5,060",0.80
4,서울특별시 종로구 삼청동(1111054000),"2,322","1,143",2.03,"1,104","1,218",0.91

### 2. '행정구역'컬럼을 행정구역명과 행정기관코드로 분리하여 'data' 데이터 프레임에 '행정구역' 컬럼에 행정구역명만 저장하고 5개의 데이터만 확인합니다.

In [5]:
df.head(5)

,행정구역,2023년02월_총인구수,2023년02월_세대수,2023년02월_세대당 인구,2023년02월_남자 인구수,2023년02월_여자 인구수,2023년02월_남여 비율
0,서울특별시 (1100000000),"9,427,583","4,457,982",2.11,"4,567,957","4,859,626",0.94
1,서울특별시 종로구 (1111000000),"141,433","72,773",1.94,"68,399","73,034",0.94
2,서울특별시 종로구 청운효자동(1111051500),"11,605","5,130",2.26,"5,325","6,280",0.85
3,서울특별시 종로구 사직동(1111053000),"9,120","4,593",1.99,"4,060","5,060",0.80
4,서울특별시 종로구 삼청동(1111054000),"2,322","1,143",2.03,"1,104","1,218",0.91

In [6]:
new =[]

for i in df['행정구역']:
    new.append(i.split('(')[0])
    
data['행정구역']=new
data.head()

,행정구역,2023년02월_총인구수,2023년02월_세대수,2023년02월_세대당 인구,2023년02월_남자 인구수,2023년02월_여자 인구수,2023년02월_남여 비율
0,서울특별시,"9,427,583","4,457,982",2.11,"4,567,957","4,859,626",0.94
1,서울특별시 종로구,"141,433","72,773",1.94,"68,399","73,034",0.94
2,서울특별시 종로구 청운효자동,"11,605","5,130",2.26,"5,325","6,280",0.85
3,서울특별시 종로구 사직동,"9,120","4,593",1.99,"4,060","5,060",0.80
4,서울특별시 종로구 삼청동,"2,322","1,143",2.03,"1,104","1,218",0.91

### 3. 'data' 데이터 프레임의 컬럼명을 행정구역, 총인구수, 세대수, 세대당인구, 남자, 여자, 남녀비율 로 변경하고 'data'데이터 프레임의 정보를 확인합니다.

In [7]:
df.head(1)

,행정구역,2023년02월_총인구수,2023년02월_세대수,2023년02월_세대당 인구,2023년02월_남자 인구수,2023년02월_여자 인구수,2023년02월_남여 비율
0,서울특별시 (1100000000),"9,427,583","4,457,982",2.11,"4,567,957","4,859,626",0.94

In [8]:
df.columns =['행정구역','총인구수','세대수','세대당인구','남자','여자','남여비율']

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3872 entries, 0 to 3871
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   행정구역    3872 non-null   object
 1   총인구수    3872 non-null   object
 2   세대수     3872 non-null   object
 3   세대당인구   3872 non-null   float64
 4   남자      3872 non-null   object
 5   여자      3872 non-null   object
 6   남여비율    3872 non-null   float64
dtypes: float64(2), object(5)
memory usage: 211.9+ KB

### 4. 남녀비율 컬럼을 제거하고 'data' 데이터프레임 정보를 확인합니다.

In [9]:
df.drop(['남여비율'],axis=1)

,행정구역,총인구수,세대수,세대당인구,남자,여자
0,서울특별시 (1100000000),"9,427,583","4,457,982",2.11,"4,567,957","4,859,626"
1,서울특별시 종로구 (1111000000),"141,433","72,773",1.94,"68,399","73,034"
2,서울특별시 종로구 청운효자동(1111051500),"11,605","5,130",2.26,"5,325","6,280"
3,서울특별시 종로구 사직동(1111053000),"9,120","4,593",1.99,"4,060","5,060"
4,서울특별시 종로구 삼청동(1111054000),"2,322","1,143",2.03,"1,104","1,218"
...,...,...,...,...,...,...
3867,제주특별자치도 서귀포시 서홍동(5013058000),"11,236","4,614",2.44,"5,556","5,680"
3868,제주특별자치도 서귀포시 대륜동(5013059000),"15,567","7,012",2.22,"7,837","7,730"
3869,제주특별자치도 서귀포시 대천동(5013060000),"13,650","6,461",2.11,"6,913","6,737"
3870,제주특별자치도 서귀포시 중문동(5013061000),"12,293","5,995",2.05,"6,249","6,044"
3871,제주특별자치도 서귀포시 예래동(5013062000),"3,880","2,038",1.90,"1,994","1,886"

### 5. 행정구역 컬럼의 ‘(’ ‘)’를 제거하고 시,구,동 컬럼을 만들어 분리해 넣고 부산지역의 값만 선택해서 'busan' 데이터 프레임에 저장합니다.

In [10]:
df.head(5)

,행정구역,총인구수,세대수,세대당인구,남자,여자,남여비율
0,서울특별시 (1100000000),"9,427,583","4,457,982",2.11,"4,567,957","4,859,626",0.94
1,서울특별시 종로구 (1111000000),"141,433","72,773",1.94,"68,399","73,034",0.94
2,서울특별시 종로구 청운효자동(1111051500),"11,605","5,130",2.26,"5,325","6,280",0.85
3,서울특별시 종로구 사직동(1111053000),"9,120","4,593",1.99,"4,060","5,060",0.80
4,서울특별시 종로구 삼청동(1111054000),"2,322","1,143",2.03,"1,104","1,218",0.91

In [11]:
busan = df[df['행정구역'].str.split().str[0] =='부산광역시'].reset_index()

busan

,index,행정구역,총인구수,세대수,세대당인구,남자,여자,남여비율
0,452,부산광역시 (2600000000),"3,315,516","1,559,593",2.13,"1,618,202","1,697,314",0.95
1,453,부산광역시 중구 (2611000000),"39,711","24,123",1.65,"19,233","20,478",0.94
2,454,부산광역시 중구 중앙동(2611051000),"3,136","2,435",1.29,"1,447","1,689",0.86
3,455,부산광역시 중구 동광동(2611052000),"2,539","1,656",1.53,"1,291","1,248",1.03
4,456,부산광역시 중구 대청동(2611053000),"6,056","3,526",1.72,"2,840","3,216",0.88
...,...,...,...,...,...,...,...,...
217,669,부산광역시 기장군 기장읍(2671025000),"53,191","26,274",2.02,"25,926","27,265",0.95
218,670,부산광역시 기장군 장안읍(2671025300),"8,803","4,989",1.76,"4,749","4,054",1.17
219,671,부산광역시 기장군 정관읍(2671025600),"81,091","32,051",2.53,"40,125","40,966",0.98
220,672,부산광역시 기장군 일광읍(2671025900),"28,453","11,876",2.40,"14,037","14,416",0.97
221,673,부산광역시 기장군 철마면(2671033000),"7,790","3,899",2.00,"3,957","3,833",1.03

In [12]:
busan['시'] =busan['행정구역'].str.split().str[0]
busan['구'] =busan['행정구역'].str.split().str[1]
busan['동'] =busan['행정구역'].str.split().str[2]

busan

,index,행정구역,총인구수,세대수,세대당인구,남자,여자,남여비율,시,구,동
0,452,부산광역시 (2600000000),"3,315,516","1,559,593",2.13,"1,618,202","1,697,314",0.95,부산광역시,(2600000000),NaN
1,453,부산광역시 중구 (2611000000),"39,711","24,123",1.65,"19,233","20,478",0.94,부산광역시,중구,(2611000000)
2,454,부산광역시 중구 중앙동(2611051000),"3,136","2,435",1.29,"1,447","1,689",0.86,부산광역시,중구,중앙동(2611051000)
3,455,부산광역시 중구 동광동(2611052000),"2,539","1,656",1.53,"1,291","1,248",1.03,부산광역시,중구,동광동(2611052000)
4,456,부산광역시 중구 대청동(2611053000),"6,056","3,526",1.72,"2,840","3,216",0.88,부산광역시,중구,대청동(2611053000)
...,...,...,...,...,...,...,...,...,...,...,...
217,669,부산광역시 기장군 기장읍(2671025000),"53,191","26,274",2.02,"25,926","27,265",0.95,부산광역시,기장군,기장읍(2671025000)
218,670,부산광역시 기장군 장안읍(2671025300),"8,803","4,989",1.76,"4,749","4,054",1.17,부산광역시,기장군,장안읍(2671025300)
219,671,부산광역시 기장군 정관읍(2671025600),"81,091","32,051",2.53,"40,125","40,966",0.98,부산광역시,기장군,정관읍(2671025600)
220,672,부산광역시 기장군 일광읍(2671025900),"28,453","11,876",2.40,"14,037","14,416",0.97,부산광역시,기장군,일광읍(2671025900)
221,673,부산광역시 기장군 철마면(2671033000),"7,790","3,899",2.00,"3,957","3,833",1.03,부산광역시,기장군,철마면(2671033000)

### 6. 'busan' 데이터 프레임에 NAN 값이 있다면 해당 행을 제거하고, 기존 인덱스 값은 제거하고 새로 인덱스를 부여하고 내용을 확인합니다.

### 7. 총인구수, 남자, 여자 컬럼의 데이타 타입을 정수형으로 변경하고 변경내용을 확인합니다.

### 8. 구별로 부산 인구를 차트로 표시합니다.(인구순 5개만)

### 9. 동별로 부산 인구를 차트로 표시합니다.(인구순 5개만)

### 10. Choropleth, geojson 등을 이용하여 동별 인구수를 색상별로 지도에 나타내시오